/* https://www.getzola.org/documentation/content/syntax-highlighting/ */
/* Fixes css for code blocks with line numbers enabled */
@import "variables";

pre {
  padding: 1rem;
  overflow: auto;
}

pre[data-linenos] {
  padding: 1rem 0;
}

pre table td {
  padding: 0;
}

// The line number cells
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
  padding: 0 0.2rem;
}

pre table td:nth-of-type(2) {
    padding-left: 1rem;

    @media (max-width: $phone-max-width) {
      white-space: pre-wrap;
      word-break: break-all;
    }
}

pre mark {
  display: block;
  background-color: rgba(80, 80, 80, 0.7) !important;
}

pre table {
  width: 100%;
  border-collapse: collapse;
  border: hidden;
  margin: 0;
  border-spacing: 1rem;
  text-align: left;
  table-layout: auto;
}

pre table tr {
    border: hidden;
}
