{% extends "base.html" %}

{% block content %}
        {#- Identation guide #}
        <div class="post">
          <h1 class="post-title">all tags</h1>
          <ul>
            {%- for term in terms %}
            <li class="tag-list">
              <a href="{{ term.permalink | safe }}">
                {{- term.name }} ({{ term.pages | length }} post{{ term.pages | length | pluralize }}) {#- -#}
              </a>
            </li>
            {%- endfor %}
          </ul>
        </div>
{%- endblock content %}
