{% import "macros/posts/list.html" as post_list -%}
{% extends "base.html" %}

{% block content %}
        {#- Identation guide #}
        <div class="post">
          <h1 class="post-title"> {#- -#}
            #{{ term.name }} {#- -#}
            ({{ term.pages | length }} post{{ term.pages | length | pluralize }}) {#- -#}
          </h1>
          <a href="{{ config.base_url | safe }}/tags">Show all tags</a>
          {{- post_list::list(pages=term.pages) }}
        </div>
{%- endblock content %}
