{% import "macros/math.html" as math %}

{% macro head(config) %}
    {#- Indentation guide -#}
    <title>{{ config.title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="robots" content="noodp"/>
    <link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) | safe }}">

    {%- if config.extra.accent_color %}
    <link rel="stylesheet" href="{{ get_url(path="color/" ~ config.extra.accent_color ~ ".css", trailing_slash=false) | safe }}">
    {%- else %}
    <link rel="stylesheet" href="{{ get_url(path="color/blue.css", trailing_slash=false) | safe }}">
    {%- endif %}

    {%- if config.extra.background_color %}
    {%- if config.extra.accent_color and config.extra.background_color != config.extra.accent_color %}
    <link rel="stylesheet" href="{{ get_url(path="color/background_" ~ config.extra.background_color ~ ".css", trailing_slash=false) | safe }}">
    {%- endif %}
    {%- endif %}

    {%- if config.extra.use_full_hack_font %}
    <link rel="stylesheet" href="{{ get_url(path="font-hack.css", trailing_slash=false) | safe }}">
    {%- else %}
    <link rel="stylesheet" href="{{ get_url(path="font-hack-subset.css", trailing_slash=false) | safe }}">
    {%- endif %}

    {%- if config.extra.favicon %}
    <link rel="shortcut icon" type="{{ config.extra.favicon_mimetype }}" href="{{ config.extra.favicon | safe }}">
    {%- endif %}

    {%- if config.generate_feed %}
    <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml") | safe }}">
    {%- endif %}

    {%- if page.extra.math or section.extra.math %}
    {{ math::katex() }}
    {%- endif %}
{%- endmacro head %}
