{% macro katex() %}
    {#- Indentation guide -#}
    <link rel="stylesheet" href="{{ get_url(path="katex/katex.min.css") }}">
    <script defer type="text/javascript" src="{{ get_url(path="katex/katex.min.js") | safe }}"></script>
    <script defer type="text/javascript" src="{{ get_url(path="katex/mathtex-script-type.min.js") | safe }}"></script>
    <script defer src="{{ get_url(path="katex/auto-render.min.js") | safe }}"
    onload="renderMathInElement(document.body, {
				delimiters: [
					{left: '$$', right: '$$', display: true},
					{left: '$', right: '$', display: false},
				]
			});"></script>
{%- endmacro katek %}
