{% import "macros/posts/list.html" as post_list -%}
{% extends "base.html" %}

{% block content %}
        {#- Indentation guide #}
        <div class="post">
          <h1 class="post-title">{{ page.title }}</h1>
          {%- set section = get_section(path="_index.md") %}
          {{- post_list::list(pages=section.pages) }}
        </div>
{%- endblock content %}
