{% import "macros/date.html" as date_macros %}
{% import "macros/head.html" as head_macros %}
{% import "macros/menu.html" as menu_macros %}

<!DOCTYPE html>
<html lang="{%- if config.default_language -%}{{ config.default_language }}{%- else -%}en{%- endif -%}">
  <head>
    {{ head_macros::head(config=config) }}
    {%- block extra_head %}
    {%- endblock extra_head %}
  </head>

  <body class="">
    <div class="container">

      {% block header -%}
      <header class="header">
        <div class="header__inner">
          <div class="header__logo">
            {%- set logo_link = config.extra.logo_link | replace(from="$BASE_URL", to=config.base_url) %}
            <a href="{{ logo_link | safe }}" style="text-decoration: none;">
              <div class="logo">
                {%- block logo_content %}
                {{ config.extra.logo_text }}
                {%- endblock logo_content %}
              </div>
            </a>
          </div>
        </div>

        {%- block header_menu -%}
        {{ menu_macros::menu(config=config, current_path=current_path) }}
        {%- endblock header_menu %}
      </header>
      {%- endblock header %}

      <div class="content">
        {%- block content %}
        {%- endblock content %}
      </div>

      {% block footer -%}
      <footer class="footer">
        <div class="footer__inner">
          {%- if config.extra.copyright_html %}
          <div class="copyright copyright--user">{{ config.extra.copyright_html | safe }}</div>
          {%- else %}
          <div class="copyright copyright--user">
            <span>© {{ date_macros::now_year() }} {% if config.extra.author %} {{ config.extra.author }} {% endif %}</span>
            <span class="copyright-theme">
              <span class="copyright-theme-sep">:: </span>
              Theme <a href="https://gitlab.com/imstevenxyz/zola-theme-terminimal-ng">Terminimal</a>
            </span>
          </div>
          {%- endif %}
        </div>
      </footer>
      {%- endblock footer %}

    </div>
  </body>
</html>
