{% import "macros/posts/post.html" as post -%}
{% extends "base.html" %}

{% block content %}
        {#- Indentation guide #}
        <div class="posts">
          {%- if paginator %}
          {%- set show_pages = paginator.pages %}
          {%- else %}
          {%- set show_pages = section.pages %}
          {%- endif %}
          {%- for page in show_pages %}
          <div class="post on-list">
            {{ post::post(page=page, summary=true) }}
          </div>
          {%- endfor %}

          {%- if paginator %}
          <div class="pagination">
            <div class="pagination__buttons">

              {%- if paginator.previous %}
              <span class="button previous">
                <a href="{{ paginator.previous | safe }}">
                  <span class="button__icon">←</span>&nbsp;
                  <span class="button__text">Newer posts</span>
                </a>
              </span>
              {%- endif %}

              {%- if paginator.next %}
              <span class="button next">
                <a href="{{ paginator.next | safe }}">
                  <span class="button__text">Older posts</span>&nbsp;
                  <span class="button__icon">→</span>
                </a>
              </span>
              {%- endif %}
             </div>
           </div>
           {%- endif %}
         </div>
{%- endblock content %}
