{% import "macros/posts/toc.html" as post_toc -%}

{% macro content(page, summary) %}
            {#- Identation guide #}
            {%- if summary and page.summary %}
            <div class="post-content">
              {{ page.summary | safe }}
            </div>
            <div>
              <a class="read-more button" href="{{ page.permalink | safe }}">
                <span class="button__text">Read more</span>&nbsp;
                <span class="button__icon">&#8617;&#xFE0E;</span>
              </a>
            </div>
            {%- else %}
            <div class="post-content">
              {{ post_toc::toc(page=page) }}
              {{ page.content | safe }}
            </div>
            {%- endif %}
{%- endmacro content %}
