{% import "macros/posts/tags.html" as post_tags %}

{% macro header(page) %}
            {#- Indentation guide -#}
            <h1 class="post-title"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h1>
            <div class="post-meta-inline">
              {%- if page.date -%}
              <span class="post-date">
                {{ page.date | date(format="%Y-%m-%d") }}
              </span>
              {%- endif %}
              {%- if config.extra.reading_time -%}
              <span class="post-read-time">:: {{ page.reading_time }} min read</span>
              {%- endif %}
            </div>
            {{ post_tags::tags(page=page) }}
{%- endmacro header %}
