{% import "macros/posts/tags.html" as post_tags %}

{% macro list(pages) %}
          {#- Indentation #}
          <ul>
            {%- for page in pages %}
            {%- if page.draft %}
            {%- continue %}
            {%- endif %}
            <li class="post-list">
              <a href="{{ page.permalink | safe }}">
                <span class="post-date">{{ page.date }}</span>
                <div class="post-list-title-box">
                  ::
                  <span class="post-list-title">{{ page.title }}</span>
                </div>
              </a>
              {{ post_tags::tags(page=page) }}
            </li>
            {%- endfor %}
          </ul>
{%- endmacro list %}
