{% macro tags(page) %}
            {#- Identation guide -#}
            {% if page.taxonomies and page.taxonomies.tags -%}
            <span class="post-tags-inline">::
              {%- set sep = "&nbsp;" %}
              {%- for tag in page.taxonomies.tags %}
              <a class="post-tag" href="{{ get_taxonomy_url(kind='tags', name=tag) | safe }}">#{{ tag }}</a>
              {%- if not loop.last %}
              {{ sep | safe }}
              {%- endif %}
              {%- endfor %}
            </span>
            {%- endif %}
{%- endmacro tags %}
