{% macro toc(page) %}
            {#- Identation guide #}
            {%- if page.extra.toc %}

            {%- if page.extra.toc_depth %}
            {%- set max_depth = page.extra.toc_depth %}
            {%- elif config.extra.toc_depth %}
            {%- set max_depth = config.extra.toc_depth %}
            {%- endif -%}

            <div class="post-toc">
              {%- for h1 in page.toc %}
              {{- post_toc::toc_sub(header=h1, depth=0, max_depth=max_depth) }}
              {%- endfor %}
            </div>
            {%- endif %}
{%- endmacro tags %}

{% macro toc_sub(header, depth, max_depth) %}
              {%- if depth < max_depth %}
              <li>
                <a href="{{ header.permalink | safe }}">{{ header.title }}</a>
                {%- if header.children and depth+1 < max_depth %}
                <ul>
                  {%- for child in header.children %}
                  {{- post_toc::toc_sub(header=child, depth=depth+1, max_depth=max_depth) }}
                  {%- endfor %}
                </ul>
               {%- endif %}
             </li>
             {%- endif %}
{%- endmacro toc_sub %}
